@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --ck-color-base-foreground: #7e7e7ec2;
  --ck-color-base-background: #d63a3a;
  --ck-color-base-border: #ccced1;
  --ck-color-base-action: #53a336;
  --ck-color-base-focus: #6cb5f9;
  --ck-color-base-text: #333;
}
